body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* App div contains all cards */
.App{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: absolute; /* helps to take full screen width and height*/
  background-size: cover; /* This will cover the entire div */
  background-position: center; /* Centers the image */
  background-image: url("https://images5.alphacoders.com/132/1327980.png");
}

.Animation{
  position: fixed;
}
.cardWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: absolute;
  top: 50px;
  
}

.createAlbum{
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 10;
  background-color: rgb(161, 57, 57,0.5);
  cursor: pointer;
  text-align: center;
  color: azure;
}

.createAlbum:hover{
  background-color: rgb(61, 129, 153,0.8);
  font-size: larger;
  
}